<div>

  <!-- BOTÕES -->
  <div class="flex flex-1	flex-row">
    <button pButton type="button" label="Voltar" (click)="voltarParaLista()" class="p-button-sm">
    </button>
    <button *ngIf="!modoEdicao" pButton type="button" label="Editar" (click)="alternarModoEdicao()"
      class="p-button-sm ml-1">
    </button>
    <button *ngIf="modoEdicao" pButton type="button" label="Cancelar" (click)="cancelarEdicao()"
      class="p-button-secondary p-button-sm ml-1">
    </button>
    <button *ngIf="modoEdicao" pButton type="button" label="Salvar" (click)="salvar()" class="p-button-sm ml-1">
    </button>
    <div class="flex flex-1"></div>
    <button *ngIf="modoEdicao && !isNovaEntidade()" pButton type="button" label="Deletar" (click)="deletar()"
      class="p-button-danger p-button-sm">
    </button>
  </div>

  <!-- FORMULÁRIO -->
  <div class="mt-3 flex flex-column">
    <label for="nome">Nome:</label>
    <input id="nome" type="text" pInputText [disabled]="!modoEdicao" [(ngModel)]="entidade.nome" required
      #nome="ngModel" [ngClass]="{'ng-invalid': nome.invalid, 'ng-dirty': (nome.dirty || nome.touched)}"
      aria-describedby="nome-help" />
    <div *ngIf="nome.invalid && (nome.dirty || nome.touched)">
      <small *ngIf="nome.errors?.['required']" id="nome-help" class="p-error">Campo obrigatório.</small>
    </div>
  </div>

</div>
