<div>

  <!-- BOTÕES -->
  <div class="flex flex-1	flex-row mb-3">
    <button pButton type="button" label="Voltar" (click)="voltarParaLista()" class="p-button-sm p-button-secondary">
    </button>
    <button *ngIf="!modoEdicao" pButton type="button" label="Editar" (click)="alternarModoEdicao()"
      class="p-button-sm ml-1">
    </button>
    <button *ngIf="modoEdicao" pButton type="button" label="Cancelar" (click)="cancelarEdicao()"
      class="p-button-secondary p-button-sm ml-1">
    </button>
    <button *ngIf="modoEdicao" pButton type="button" label="Salvar" (click)="salvar()" class="p-button-sm ml-1">
    </button>
    <div class="flex flex-1"></div>
    <button *ngIf="modoEdicao && !isNovaEntidade()" pButton type="button" label="Deletar" (click)="deletar()"
      class="p-button-danger p-button-sm">
    </button>
  </div>

  <!-- FORMULÁRIO -->
  <div class="field p-fluid">
    <label for="codigo">Código:</label>
    <input id="codigo" type="text" pInputText [disabled]="!modoEdicao" [(ngModel)]="entidade.codigo"
      [pKeyFilter]="'pnum'" required #codigo="ngModel"
      [ngClass]="{'ng-invalid': codigo.invalid, 'ng-dirty': (codigo.dirty || codigo.touched)}"
      aria-describedby="codigo-help" />
    <div *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)">
      <small *ngIf="codigo.errors?.['required']" id="codigo-help" class="p-error">Campo obrigatório.</small>
    </div>
  </div>

  <div class="field p-fluid">
    <label for="titulo">Título:</label>
    <input id="titulo" type="text" pInputText [disabled]="!modoEdicao" [(ngModel)]="entidade.titulo" required
      #titulo="ngModel" [ngClass]="{'ng-invalid': titulo.invalid, 'ng-dirty': (titulo.dirty || titulo.touched)}"
      aria-describedby="titulo-help" />
    <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)">
      <small *ngIf="titulo.errors?.['required']" id="titulo-help" class="p-error">Campo obrigatório.</small>
    </div>
  </div>

  <div class="field p-fluid">
    <label for="categoria">Categoria:</label>
    <input id="categoria" type="text" pInputText [disabled]="!modoEdicao" [(ngModel)]="entidade.categoria" required
      #categoria="ngModel"
      [ngClass]="{'ng-invalid': categoria.invalid, 'ng-dirty': (categoria.dirty || categoria.touched)}"
      aria-describedby="categoria-help" />
    <div *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)">
      <small *ngIf="categoria.errors?.['required']" id="categoria-help" class="p-error">Campo obrigatório.</small>
    </div>
  </div>

  <div class="field p-fluid">
    <label for="codigo">Processo:</label>
    <p-dropdown [disabled]="!modoEdicao" placeholder="Escolha um processo" [options]="processos"
      [(ngModel)]="entidade.processo" optionLabel="nome" [required]="true" #processo="ngModel"
      [ngClass]="{'ng-invalid': processo.invalid, 'ng-dirty': (processo.dirty || processo.touched)}"
      aria-describedby="processo-help">
    </p-dropdown>
    <div *ngIf="processo.invalid && (processo.dirty || processo.touched)">
      <small *ngIf="processo.errors?.['required']" id="processo-help" class="p-error">Campo obrigatório.</small>
    </div>
  </div>

  <div *ngIf="modoEdicao; else arquivoDownload" class="field p-fluid">
    <label for="codigo">Arquivo:</label>
    <p-fileUpload [disabled]="!modoEdicao" [fileLimit]="1" [customUpload]="true" (onSelect)="prepararArquivo($event)"
      [showUploadButton]="false" [showCancelButton]="false" [accept]="tiposDocumentosAceitos"></p-fileUpload>
  </div>

  <ng-template #arquivoDownload>
    <div class="field p-fluid">
      <label for="codigo">Arquivo:</label>
      <div class="flex flex-1 flex-row align-items-center ">
        <input id="codigo" type="text" pInputText [disabled]="true" [(ngModel)]="nomeArquivo" />
        <a pButton pRipple icon="pi pi-download" class="ml-1 p-button-sm no-underline" [href]="getLinkDownload()"
          target="_blank" rel="noopener"></a>
      </div>
    </div>
  </ng-template>

</div>
